@media screen and (min-width: 1728px) {
}@media screen and (min-width: 1728px) {
    .container__link {
      display: flex;
      align-items: center;
    }
  }@media screen and (min-width: 1728px) {
    .container__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--preto);
    }
    @media screen and (min-width: 1728px) {
        /* Código omitido */
      
        .container__texto {
          display: block;
        }
      }
    .opcoes {
      margin-right: auto;
    }
  }.container__texto {
    display: none;
  }